* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    height: 100vh;
    width: 100vw;
    background-color: #FFF9F0;
    font-family: 'Poppins', sans-serif;
}

.logo {
    display: flex;
    align-items: baseline;
    margin-left: 85px;
    margin-top: 46px;
}

.titulo-logo {
    margin-left: 5px;
    font-size: 32px;
    font-weight: 600;
    line-height: 45px;
}

.navigation {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.nav {
    margin-top: 40px;
}

.nav-ul li {
    display: inline;
    color: #000000;
    padding-left: 50px;
}

li a {
    color: #000000;
    text-decoration: none;
}

.content-text {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 90px;
    top: 240px;
}

.input-search {
    height: 60px;
    width: 240px;
    padding: 20px 85px 20px 70px;
    border: none;
    border-radius: 30px 0 0 30px;  
    margin-top: 40px;
    box-shadow: 0px 12px 40px -16px #00000001;
    background: #f0fff901;
    background-image: url(./icons/lupa.png);
    background-repeat: no-repeat;
    background-position: 30px;
  
}

.button-input {
    height: 60px;
    width: 40px;
    padding: 20px 30px 20px 17px;
    border: none;
    border-left: 1px solid rgba(148, 140, 140, 0.31);
    border-radius: 0 30px 30px 4px;
    box-shadow: 0px 12px 40px -16px #00000001;
    margin-top: 40px;
    background: #f0fff901;
    border-left: 1px solid #909090;
    position: absolute;
    background-image: url(./icons/cart.png);
    background-repeat: no-repeat;
    background-position: center;
}

.title-main {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.title-2 {
    color: #FF7E00;
    font-size: 125px;
    font-weight: 700;
    line-height: 120px;  
    padding-right: 17px;
}

.title-3 {
    color: #2F2F2F;
    font-size: 52px;
    font-weight: 700;
    line-height: 50px;
    width: 330px;
}

.image-arrow {
    background-image: url(./icons/arrow.png);
    background-size: contain;
    width: 140px;
    height: 175px;
    position: absolute;
    left: 420px;
    top: -80px;
}

.text-1 {
    color: #909090;
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    width: 565px;
    margin-bottom: 44px;
}

.image-main {
    background-image: url(./img/fast-food.png);
    background-repeat: no-repeat;
    width: 750px;
    height: 712px;
    position: absolute;
    top: 140px;
    left: 660px;
}

.play-video {
    display: flex;
    align-items: center;
    margin-bottom: 70px;
}

.button-black {
    font-size: 20px;
    font-weight: 600;
    line-height: 18px;
    background-color: #2F2F2F;
    color: #F4ECE1;
    border: none;
    padding: 25px 40px 25px 40px;
    border-radius: 80px;
}

.play {
    background-image: url(./icons/play-video.png);
    width: 57px;
    height: 57px;
    padding-right: 12px;
}

.video {
    color: #2F2F2F;
    font-size: 20px;
    font-weight: 600;
    line-height: 18px;
    padding-left: 12px;
}

.title-4 {
    color: #2F2F2F;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    padding-top: 10px;
    width: 200px;
}

.span-star {
    color: #909090;
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
}

@media screen and (max-width: 780px) {
    .navigation {
        flex-direction: column;
        align-items: center;
    }

   .content-text {
       margin-top: 100px;
   }

   .title-2 {
       font-size: 80px;
   }

   .title-3 {
       font-size: 50px;
   }

   .text-1 {
       font-size: 15px;
   }

   .image-main {
    top: 900px;
    left: 100px;
    width: 500px;
    height: 400px;
    background-size: contain;
   }
}